/* japan ================================ */

#japan {

.cta {					
	&.hoverstate {
	background-color: #fff; }
	span.hoverstate {
	color: #4A74A7; }	
}	

section.map {

	img {
		width: 100%;
		position: relative;
	}
	
	.countdown { 
		position: absolute; 
		width: 433px; height: 251px;
		background: #fed530;
		z-index: 2;
		top: 230px;
		left: 50%;
		margin-left: -216px;
		color: #fff;
		text-align: center;
	}
	.counter {
		background: #edc445;
		width: 397px;
		height: 118px;
		margin: 18px 18px 15px
	}
	
	.countdown_timer { font-family: $oswald-light; font-size: 58px; margin: 3px 0 3px 65px; padding: 2px 0; }
	.days { width: 110px; float: left; }
	.hrs { width: 110px; float: left; }
	.min { width: 65px; float: left; }	

	.text1 { float: left; font-size: 14px; margin-left: 80px; }
	.text2 { float: left; font-size: 14px; margin-left: 72px; }
	.text3 { float: left; font-size: 14px; margin-left: 82px; }	
	.clear { clear: both; }				
	
}

}